
  <!--<router-outlet></router-outlet>-->
  <!-- <app-user-blog></app-user-blog> -->
  <!-- <app-display>  </app-display> -->
    <!--<app-list-display></app-list-display>-->

  <!--<app-user-login></app-user-login>-->
 <!-- <app-dashboard></app-dashboard>-->
<!-- <app-sign-up></app-sign-up>-->
<!--  <app-user-login></app-user-login>-->
 <!--<app-dashboard></app-dashboard>-->


<app-user-blog></app-user-blog>
<!--<app-list-display></app-list-display>-->
<!-- <app-file-upload></app-file-upload> -->
 
 